<ul class="list-group list-group-flash">
    <% group.accept.each do |user| %>
        <li class="list-group-item mb-3">
            <div>
                <%= link_to user.name, user_path(user) %>
            </div>
        </li>
    <% end %>
</ul>