<ul class="list-group list-group-flash">
    <% group.accept.each do |user| %>
        <li class="list-group-item">
            <div>
                <p><%= user.name %></p>
            </div>
        </li>
    <% end %>
</ul>