<div class="container-sm">
    <div class="row mt-4">
        <div class="card col-sm-3">
            <img src="<%= gravatar_url(@group.user, { size: 80 }) %>" class="mr-2" alt="">
            <div class="card-body">
                <h4><%= @group.user.name %></h4>
            </div>
        </div>
        <div class="offset-sm-1 col-sm-8" style="background-color: #eee">
            <p>グループの情報一覧</p>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-sm-3" style="background-color: #eee">
            <p>グループ参加者一覧</p>
        </div>
        <div class="offset-sm-1 col-sm-8" style="background-color: #eee">
            <p>グループチャット欄</p>
        </div>
    </div>
</div>