<div class="row">
    <aside class="col-sm-4 mb-2">
        <div class="card" style="width: 10rem;">
            <img src="<%= gravatar_url(@user, {size: 50}) %>" class="card-img-top" alt="">
            <div class="card-body">
                <p class="card-text"><%= @user.name %></p>
            </div>
        </div>
    </aside>
    <div class="col-sm-8 jumbotron">
        <h1>自己紹介文等</h1>
    </div>
</div>
<div class="center jumbotron">
    <h1>参加予定一覧</h1>
</div>